
#Search {
  h1 {
    border-bottom: 1px solid white;
  }
  li {
    list-style: none;
  }

  .searchForm {
    width: 100px !important;
    background-color: initial !important;
    color: white;
  }

  .ais-SearchBox {
    margin: 1em 0;
  }
  
  .ais-Pagination {
    margin-top: 1em;
  }
  
  .ais-InstantSearch {
    max-width: 960px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .ais-InfiniteHits-item {
    border-bottom: 1px solid white;
    margin-bottom: 3em;
    padding-bottom: 1em;
  }
  
  .ais-InfiniteHits-sentinel {
    width: 100%;
  }

  .ais-InfiniteHits-sentinel-hide {
    display: none;
  }
  
  .ais-InfiniteHits-item img {
    margin-right: 1em;
  }
  
  .hit-name {
    margin-bottom: 0.5em;
  }
  
  .hit-description {
    color: #888;
    font-size: 14px;
    margin-bottom: 0.5em;
  }
  
}